<footer class="text-center text-lg-start text-white">
  <div class="container p-4 pb-0">
    <section class="">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Foodie</h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <p>
            <a class="text-white" href="#">Useful Link</a>
          </p>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          <div class="my-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>

    <hr class="my-3">

    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <div class="col-md-12 col-lg-12 text-center text-md-start">
          <div class="p-3">
            © 2023 Company name. All rights reserved.
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>