<app-header></app-header>
<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src={{user.image}} width="90"><span class="font-weight-bold">{{user.name}}</span><span class="text-black-50">{{user.emailId}}</span></div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                        <!-- <h6>Back to home</h6> -->
                    </div>
                    <!-- <h6 class="text-right">Edit Profile</h6> -->
                </div>
                <div class="row mt-2">
                    <label>Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="first name" [(ngModel)]="user.name" name="name" required #name="ngModel" minlength="5" maxlength="15">
                        <span *ngIf="name.invalid && (name.dirty || name.touched)">
                            <span *ngIf="name?.errors?.['required']"><mat-error>Name is required.</mat-error></span>
                            <span  *ngIf="name?.errors?.['minlength']"><mat-error>Name must be at least 5 characters long.</mat-error></span>
                            <span *ngIf="name?.errors?.['maxlength']"><mat-error>Name cannot be more than 15 characters long.</mat-error></span>
                        </span>
                    </div>
                    
                </div>
                <div class="row mt-3">
                    <!-- <div class="col-md-6"><input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.emailId" name="email"></div> -->
                    <label>Contact Number</label>
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Phone number" [(ngModel)]="user.contactNumber" name="number" required #number="ngModel"  pattern="^[0-9]{10}$">
                        <span *ngIf="number.invalid && (number.dirty || number.touched)">
                            <span *ngIf="number?.errors?.['required']"><mat-error>Contact Number is required.</mat-error></span>
                            <span *ngIf="number?.errors?.['pattern']"><mat-error>Contact Number should be a 10-digit number.</mat-error></span>
                        </span>
                    </div>
                </div>
                <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button" (click)="updateProfile()">Save Profile</button></div>
            </div>
        </div>
    </div>
</div>